.about {
  // margin: 0;
  text-align: left;
  display: block;
  margin-bottom: 10vh;

  &__header {
    font-size: $font-size-ten;
    line-height: 1;

    @include mq(desktop) {
      font-size: $font-size-five;
      padding-top: 0.5%;
    }
  }
}

.info__main {
  display: flex;
  flex-direction: row-reverse;
}

.info__copyright {
  font-size: $font-size-body;
  color: $white;
}
