.article {
  .content {
    padding-top: 4rem;
    padding-bottom: 4.8rem;
    @include mq(desktop) {
      padding-top: 5vw;
      padding-bottom: 10vh;
    }
  }
  .item {
    margin-bottom: 2rem;
    @include mq(desktop) {
      margin-bottom: 5vh;
    }
  }
  .image {
    img {
      max-width: 100%;
      max-height: 100%;
    }
    &__background {
      background-color: $brand-1;
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
    &__container {
      padding-top: 5vw;
      padding-bottom: 5vw;
      max-width: 90%;
      height: auto;
      position: relative;
    }
    &__floating {
      box-shadow: 0 24px 48px 0 rgba(0, 0, 0, 0.4);
    }
  }
}
