.article {
  &__header {
    display: grid;
    place-items: center;
    height: 90vh;
    width: 100%;
    // justify-content: center;
    // align-items: center;
    background-color: $brand-1;
    // padding: 5%;
  }

  &__header-image {
    grid-area: 1 / 1;
    max-height: 80vh;
    padding-top: 5vh;
    max-width: 90vw;
    display: block;
  }
}

.content {
  background-color: #e55744;
  height: 10vh;
}

.information {
  display: block;
  position: relative;

  &__type,
  &__year,
  &__role {
    display: inline;
    color: white;
  }

  &__meta {
    color: #803025;
  }

  p {
    display: inline;
  }
}
