.article {
  &__header {
    display: grid;
    place-items: center;
    height: 90vh;
    width: 100%;
    // justify-content: center;
    // align-items: center;
    background-color: $brand-1;
    // padding: 5%;
  }

  &__header-image {
    grid-area: 1 / 1;
    max-height: 80vh;
    padding-top: 5vh;
    max-width: 90vw;
    display: block;
  }
}

.content {
  background-color: #e55744;
  padding-top: 3vh;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 3fr 1.5fr;
  grid-column-gap: 1.5vw;
}

.gr-2 {
  grid-column: span 2;
}

h3 {
  font-size: 1.5vw;
  color: white;
}

.fr-2 {
  grid-column: 2;
}

.headline {
  font-size: $font-size-eight;
  color: white;
  line-height: 1;
  margin-top: 1vw;
  margin-bottom: 2vw;

  &__link {
    font-size: $font-size-one;
    display: inline;
  }
}

.link-arrow {
  transform: rotate(90deg);
  display: inline-block;
  height: auto;
  width: 23px;
}

.information {
  display: block;
  position: relative;
  grid-column: 2;

  &__type,
  &__year,
  &__role {
    display: inline;
    color: white;
    margin-right: 1.5vw;
  }

  &__meta {
    color: #803025;
  }

  p {
    display: inline;
  }
}
