.featured-project {
  &__image-wrapper {
    display: grid;
    position: relative;
  }
  &__image {
    max-width: 90%;
    justify-self: center;

    @include mq(wide) {
      max-width: 740px;
      float: right;
    }
  }
  &__block {
    width: 100%;
    height: 60%;
    background-color: $brand-1;
    position: absolute;
    align-self: center;
    z-index: -1;
  }
  &__circle {
    position: absolute;
    bottom: -40px;
    right: 20%;
    max-height:80px;
    max-width:80px;

    
    svg {
      // animation: spin 8s infinite linear;
    }
  }
  &__header {
    font-size: 1rem;
    font-size: $font-size-large;
    line-height: $line-height;
    color: $black;
  }
  &__subheader {
    color: $dark-grey;
    font-size: $font-size-body;
    line-height: $line-height;
    margin-top: 5.8rem;
    position: relative;
    display: block;
    width: 100%;
     
    &:before {
      content: '';
      border-top: 1px solid $black;
      width: calc(100% + 10px);
      height: 1px;
      display: block;
      position: absolute;
      top:-8px;
      left: -10px;
      // margin-left: -10px;
      // padding-top: -4px;
    }

    @include mq(tablet) {
      font-size: 30px;
    }
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
