.page-info {
  margin: 0;
  background-color: $brand-1;
  text-align: left;
  display: block;
}

.info__main {
  display: flex;
  flex-direction: row-reverse;
}

.contentinfo__copyright {
  font-size: $font-size-body;
  color: $white;
}
