.footer {
  margin: 0;
  // background-color: $brand-1;
  border-top: 2px solid $black;
  text-align: left;
  display: block;
  padding-top: 10px;
  margin-top: 10px;
  display: flex;

  &__back-to-top {
    display: block;
    position: relative;
    width: auto;
    height: auto;
  }

  &__arrow {
    display: inline-block;
    width: auto;
    height: auto;

    svg {
      width: 2.5vw;
      height: auto;

      @include mq(desktop) {
        width: 1vw;
      }
    }
  }

  &__top {
    display: inline;
    font-size: $font-size-five;
    color: $black;
    padding-left: 0.4rem;
    line-height: 1;

    @include mq(desktop) {
      font-size: $font-size-two;
    }
  }
}

.footer__copyright-container {
  justify-self: flex-end;
  position: relative;
}

.footer__copyright {
  font-size: $font-size-body;
  color: $black;
  font-size: $font-size-five;
  line-height: 1;

  @include mq(desktop) {
    font-size: $font-size-two;
  }
}
