.page-head {
  background-color: white;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid $light-grey;
  top: 0px;

  @include mq(tablet) {
    height: 80px;
  }
}

.site-nav {
    display: flex;
    justify-content: center;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
