.logo {
    margin: 0;
    height: 80px;
    padding-top:0;
    align-items: center;
    display: flex;
    justify-content: center;

    svg {
      width: 79px;
      height: 32px;
    }

    .logo__frame, .logo__eyes {
      fill: $off-white;
    }

    @include mq($from: tablet) {
          .logo__frame, .logo__eyes {
            fill: $brand-1;
          }
    }

    &:hover {

        svg {
          @include transition-duration(2s);
          display: none;
          transition: ease-out;
        }

        .logo-type {
            display: block;
        }
    }

    .logo-type {
        display: none;
        font-family: $sans-serif;
        font-size: $font-size-medium;
        color: $off-white;
        text-decoration: none;
        margin-top: -6px;


        @include mq($from: tablet) {
            color: $brand-1;
        }
    }
}
