.logo {
  margin: 0;
  height: auto;
  padding-top: 10px;
  display: flex;
  justify-content: left;
  padding-left: 10px;

  @include mq(desktop) {
    padding-left: 10px;
    padding-top: 2.5%;
  }
  @include mq(wide) {
    padding-left: 0px;
  }

  svg {
    width: auto;
    height: 5vw;

    @include mq(desktop) {
      width: 79px;
      height: 32px;
    }
  }

  .logo__frame,
  .logo__eyes {
    fill: $brand-1;
  }

  &:hover {
    // svg {
    //   @include transition-duration(2s);
    //   display: none;
    //   transition: ease-out;
    // }

    // .logo-type {
    //     display: block;
    // }
  }

  .logo-type {
    display: none;
    font-family: $sans-serif;
    font-size: $font-size-three;
    color: $brand-1;
    text-decoration: none;
    margin-top: -6px;

    @include mq(desktop) {
      font-size: $font-size-two;
    }
  }
}
