.page-head {
  background-color: $off-white;
  width: 100%;
  height: 56px;
  top: 0px;

  @include mq(tablet) {
    height: 80px;
  }
}

.site-nav {
  display: flex;
  justify-content: center;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $off-white;
  height: 56px;
  display: block;

  @include mq($from: desktop) {
    max-width: 980px;
  }
  @include mq($from: wide) {
    max-width: 1300px;
  }
}

.site-nav__list {
  margin: 0;
  list-style: none;
  font-family: $sans-serif;
  font-size: $font-size-body;

  @include mq($from: tablet) {
    position: relative;
    margin-top: -66px;
    display: block;
    font-size: $font-size-medium;
    top: 10px;
    right: 10px;
  }

  .site-nav__item {
    display: inline;
    color: $brand-1;
    cursor: pointer;
    padding: 0;
    margin: 0 6px;
    border-bottom: none;

    @include mq($from: tablet) {
      margin: 0 8px;
      text-align: left;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.logo-type {
  display: none;
}
