.page-head {
  background-color: $off-white;
  width: 100%;
  height: auto;
  top: 0px;
}

.site-nav {
  width: 100%;
  height: auto;
  display: block;
}

.site-nav__list {
  list-style: none;
  font-family: $sans-serif;
  font-size: $font-size-five;

  @include mq(desktop) {
    position: relative;
    margin-top: -66px;
    display: block;
    font-size: $font-size-two;
  }

  .site-nav__item {
    display: inline;
    position: relative;
    color: $brand-1;
    cursor: pointer;

    border-bottom: none;

    @include mq(tablet) {
      text-align: left;
    }

    &:before {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: $black;
      left: -6px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.logo-type {
  display: none;
}
