.project-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  list-style: none;
  margin-top: 48px;
  margin-bottom: 100px;
}

.title__description {
  color: $black;
}

.project-list-col {
  display: grid;
  width: 100%;

  @include mq(tablet) {
    max-width: 740px;
  }
}


.project-list__item {
  margin-bottom: 20px;
}
