.project-list__header {
    margin: 0;
    color: $brand-1;
    font-family: $sans-serif;
    font-size: $font-size-extralarge;
    line-height: 1.2;
    font-weight: normal;
    @include mq($until: mobile) {
        font-size: $font-size-large;
    }
}
