h2 {
    margin: 0;
    color: $black;
    font-family: $sans-serif;
    font-size: $font-size-medium;
    line-height: $line-height;
    font-weight: normal;
    @include mq(tablet) {
        font-size: $font-size-large;
    }
    @include mq(desktop) {
      font-size: $font-size-extralarge;
    }
}
