.project-list__subheader {
    color: $black;
    font-family: $sans-serif;
    font-size: $font-size-body;
    line-height: $line-height;
    font-weight: normal;

    @include mq(tablet) {
      font-size: $font-size-small;
    }
}
